<div class="panel panel-default">
    <div class="panel-heading">
    	<h4>{{ text_payment_title }}</h4>
    	<span>{{ text_further_details }}</span>
    </div>
	<div style="padding:15px;">
        <div id="weareplanet-iframe-spinner" class="text-center">
        	<i style="font-size: 12em;" class='fa fa-spinner fa-spin '></i>
        </div>
        
        <div id="weareplanet-iframe-container" class="text-center">
        </div>
    
        <div class="buttons" style="overflow:hidden;">
        	<div class="pull-right">
        		<input type="button" value="{{ button_confirm }}"
        			id="button-confirm" class="btn btn-primary"
        			data-loading-text="{{ text_loading }}" disabled />
        	</div>
        </div>
    </div>
    <script type="text/javascript" src="{{ external_js }}"></script>
    <script type="text/javascript" src="{{ opencart_js }}"></script>
    <script type="text/javascript">
    function initWeArePlanetIframe(){
    	if(typeof WeArePlanet === 'undefined') {
    		setTimeout(initWeArePlanetIframe, 500);
    	} else {
    		WeArePlanet.init('{{ configuration_id }}');
    	}
    }
    jQuery().ready(initWeArePlanetIframe);
    </script>
</div>