<!-- see model/extension/weareplanet/order.php & WeArePlanetAdministration.ocmod.xml -->
{% for key, job_group in job_groups %}
	<a class='h3' data-toggle='collapse' href='#weareplanet-jobs-{{ key }}' aria-controls='weareplanet-jobs-{{ key }}' aria-expanded='{% if key  ==  0 %} {{ 'true' }} {% else %} {{ 'false' }} {% endif %}'
	>{{ job_group.title }} <i class='fa fa-chevron-down'></i></a>
	
	<div id='weareplanet-jobs-{{ key }}' class='collapse'>
	{% for job in job_group.jobs %}
		<hr/>
		{% if job.title %}
		<h4>{{ job.title }}</h4>
		{% endif %}
	
		<dl class='row'>
		{% for label_group in job.label_groups %}
			<dt class='col-sm-3'>
				<strong data-toggle='tooltip' data-placement='top' title='{{ label_group.description }}'>
				{{ label_group.name }}
				</strong>
			</dt>
			<dd class='col-sm-9'>
			{% for label in label_group.labels %}
				<dl class='row'>
					<dt class='col-sm-3'>
						<strong data-toggle='tooltip' data-placement='top' title='{{ label.description }}'>
						{{ label.name }}
						</strong>
					</dt>
					<dd class='col-sm-9'>
					{{ label.value }}
					</dd>
				</dl>
			{% endfor %}
			</dd>
		{% endfor %}
		</dl>
	{% endfor %}
	</div>
	<hr/>
{% endfor %}